---
- name: Update apt-get repo and cache
  become: yes
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Install productivity packages
  become: yes
  apt:
    pkg:
      - gscan2pdf 
      - gedit-plugin-bracket-completion
      - gedit-plugin-code-comment
      - gedit-plugin-smart-spaces
      - gedit-plugin-draw-spaces
      - solaar
      - keepassxc
      - ffmpeg
      - webp
      - gthumb
      - filezilla
      - tesseract-ocr
      - tesseract-ocr-eng
      - tesseract-ocr-deu
      - tesseract-ocr-swe
      - gocr
      - pinta
      - pavucontrol
    state: present

