---
- name: Update apt-get repo and cache
  become: yes
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Install default packages
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - gscan2pdf 
    - gedit-plugin-bracket-completion
    - gedit-plugin-code-comment
    - gedit-plugin-smart-spaces
    - gedit-plugin-draw-spaces
    - solaar
    - keepassxc
    - ffmpeg
