---
- name: Update apt-get repo and cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600
  
- name: Install default packages
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - git
    - meld
    - openjdk-8-jdk
    - openjdk-11-jdk
    - gcc
    - build-essential
    - linux-headers-generic
    - visualvm

- name: Git config global
  blockinfile:
    path: ~/.gitconfig
    create: yes
    marker: "# {mark} Git config (managed by ansible)"
    block: |
      [user]
        email = {{ git_email }}
        name = {{ git_user }}
      [core]
        editor = vim
        excludesFile = ~/bin/git/gitignore
      [merge]
        tool = meld

