---

# Key downloaded like this, 
# curl -s https://dl.k6.io/key.gpg | gpg --dearmor | sudo tee roles/k6/defaults/k6.gpg
- name: k6 - Add k6's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/k6.gpg"
    dest: /etc/apt/keyrings/k6.gpg
    mode: '0644'
    owner: root
    group: root

- name: k6 - Setup k6 stable repository
  become: true
  deb822_repository:
    name: k6
    types: deb
    uris: https://dl.k6.io/deb
    suites: stable
    components: main
    architectures: amd64
    signed_by: /etc/apt/keyrings/k6.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: k6 - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - k6

