---
# First export key using apt-key
# apt-key list
# apt-key export <key id> > keys/microsoft-prod.gpg
# Where id is the alpha-numerical id in the list output..
#
- name: Dotnet - Add Dotnet's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/microsoft-dotnet.gpg"
    dest: /etc/apt/keyrings/microsoft-dotnet.gpg
    mode: '0644'
    owner: root
    group: root

- name: Dotnet - Setup Dotnet stable repository
  become: true
  deb822_repository:
    name: dotnet
    types: deb
    uris: https://packages.microsoft.com/ubuntu/{{ ubuntu_target_version }}/prod
    suites: "{{ ubuntu_target_version_name }}"
    components: main
    architectures: amd64
    signed_by: /etc/apt/keyrings/microsoft-dotnet.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Dotnet - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - dotnet-sdk-10.0
    - aspnetcore-runtime-10.0
