---
# First export key using apt-key
# apt-key list
# apt-key export <key id> > defaults/mega.gpg
# Where id is the alpha-numerical id in the list output..
#
- name: Mega - Add Mega's official GPG Key
  become: true
  apt_key:
    id: 8F208FBF12FEE766AA32AEAF03C3AD3A7F068E5D
    file: "{{ role_path }}/defaults/mega.gpg"
    state: present

# Not sure if this works on initial install, that is, does update fail if the key is not already installed in the exepcted location (signed-by).
- name: Mega - Setup Mega stable repository
  become: true
  apt_repository:
    filename: "{{ mega_apt_file }}"
    repo: >-
      deb [signed-by=/usr/share/keyrings/meganz-archive-keyring.gpg] https://mega.nz/linux/repo/xUbuntu_20.04/ ./

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Mega - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - megasync
    - nautilus-megasync
