---
# First export key using apt-key
# apt-key list
# apt-key export <key id> > defaults/mega.gpg
# Where id is the alpha-numerical id in the list output..
#
- name: Mega - Add Mega's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/mega.gpg"
    dest: /etc/apt/keyrings/mega.gpg
    mode: '0644'
    owner: root
    group: root

- name: Mega - Setup Mega stable repository
  become: true
  deb822_repository:
    name: Mega
    types: deb
    uris: https://mega.nz/linux/repo/xUbuntu_24.04/
    suites: ./
    architectures: amd64
    signed_by: /etc/apt/keyrings/mega.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Mega - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - megasync
    - nautilus-megasync
