---
# Copy firefox.desktop, 
# if destination does not already exist (force=no)
#
- name: Copy firefox launcher
  copy: 
    src: /usr/share/applications/firefox.desktop
    dest: ~/.local/share/applications/firefox.desktop
    force: no

- name: Start default profile as default
  lineinfile:
    path: "~/.local/share/applications/firefox.desktop"
    backrefs: no
    firstmatch: yes
    regexp: '^Exec=firefox %u.*'
    line: 'Exec=firefox %u -P default'    
    state: present

# Create profiles (see profile.yml)
- include_tasks: roles/firefox/tasks/profile.yml
  loop:
    - EC
    - ECZenHub
    - Safe

