---
- name: Does the Google apt file exist?
  become: true
  command: test -f {{ google_chrome_apt_file }}
  register: google_apt_exists
  ignore_errors: true

- name: Add Google Chrome key
  become: true
  shell: wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  when: google_apt_exists.rc == 1

- name: Add Google Chrome repo
  become: true
  copy: content="deb http://dl.google.com/linux/chrome/deb/ stable main" dest={{ google_chrome_apt_file }} owner=root group=root mode=644
  when: google_apt_exists.rc == 1

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes
  when: google_apt_exists.rc == 1

- name: Install Google Chrome
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - google-chrome-stable
