---
- name: Google-Chrome - Add Google-Chrome's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/google-chrome.gpg"
    dest: /etc/apt/keyrings/google-chrome.gpg
    mode: '0644'
    owner: root
    group: root

- name: Google-Chrome - Setup Google-Chrome stable repository
  become: true
  deb822_repository:
    name: google-chrome
    types: deb
    uris: http://dl.google.com/linux/chrome/deb/
    suites: stable
    components: main
    architectures: amd64
    signed_by: /etc/apt/keyrings/google-chrome.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Install Google-Chrome
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - google-chrome-stable
