---
# First export key using apt-key
# apt-key list
# apt-key export <key id> > r-lang.gpg
# Where id is the alpha-numerical id in the list output, spaces removed, ..
#
- name: r-lang - Add r-lang's official GPG Key
  become: true
  apt_key:
    id: E298A3A825C0D65DFD57CBB651716619E084DAB9
    file: "{{ role_path }}/defaults/r-lang.gpg"
    state: present

- name: r-lang - Setup r-lang stable repository
  become: true
  apt_repository:
    repo: >-
      deb https://cloud.r-project.org/bin/linux/ubuntu {{ ubuntu_target_version_name }}-cran40/

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes

- name: r-lang - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - build-essential
    - r-base
