---

# Key downloaded like this, 
# wget -qO- https://cloud.r-project.org/bin/linux/ubuntu/marutter_pubkey.asc | sudo gpg --dearmor -o roles/r-lang/defaults/rlang.gpg
- name: rlang - Add rlang's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/rlang.gpg"
    dest: /etc/apt/keyrings/r-lang.gpg
    mode: '0644'
    owner: root
    group: root

- name: rlang - Setup rlang stable repository
  become: true
  deb822_repository:
    name: rlang
    types: deb
    uris: https://cloud.r-project.org/bin/linux/ubuntu
    suites: "{{ ubuntu_target_version_name }}-cran40/"
    architectures: amd64
    signed_by: /etc/apt/keyrings/r-lang.gpg
    
- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: rlang - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - build-essential
    - r-base
