---
- name: Update apt-get repo and cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600
  
- name: Install default packages
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - postgresql-client

