---

# Key downloaded like this, 
# wget -O- https://updates.signal.org/desktop/apt/keys.asc | gpg --dearmor > roles/signal/defaults/signal.gpg
- name: Signal - Add signal's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/signal.gpg"
    dest: /etc/apt/keyrings/signal.gpg
    mode: '0644'
    owner: root
    group: root
    
- name: Signal - Setup Signal stable repository
  become: true
  # It appears that the repo only contain an entry for the 'xenial' Ubuntu version
  apt_repository:
    filename: "{{ signal_apt_file }}"
    repo: >-
      deb [arch=amd64 signed-by=/etc/apt/keyrings/signal.gpg] https://updates.signal.org/desktop/apt xenial main

- name: Signal - Setup Signal stable repository
  become: true
  deb822_repository:
    name: signal
    types: deb
    uris: https://updates.signal.org/desktop/apt
    suites: xenial
    components: main
    architectures: amd64
    signed_by: /etc/apt/keyrings/signal.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Signal - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - signal-desktop
