---
# Details from https://www.spotify.com/us/download/linux/
#
- name: Spotify - Add Spotify's official GPG Key
  become: true
  apt_key:
    url: "https://download.spotify.com/debian/pubkey_5E3C45D7B312C643.gpg"
    state: present

- name: Spotify - Setup Spotify stable repository
  become: true
  apt_repository:
    filename: "{{ spotify_apt_file }}"
    repo: >-
      deb http://repository.spotify.com stable non-free

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Spotify - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - spotify-client
