---
# Details from https://www.spotify.com/us/download/linux/
# 
# key was downloaded from spotify, 
# first installed without id (not required), 
# listed keys with 'key-add list'
# added correct id from list (removed spaces)
#

# Key was downloaded like this, 
# sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys D2C19886
# apt-key list
# apt-key export E27409F51D1B66337F2D2F417A3A762FAFD4A51F | gpg --dearmor > roles/spotify/defaults/spotify.gpg
- name: Spotify - Add Spotify's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/spotify.gpg"
    dest: /etc/apt/keyrings/spotify.gpg
    mode: '0644'
    owner: root
    group: root

- name: Spotify - Setup Spotify stable repository
  become: true
  deb822_repository:
    name: spotify
    types: deb
    uris: http://repository.spotify.com
    suites: stable
    components: non-free
    architectures: amd64
    signed_by: /etc/apt/keyrings/spotify.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Spotify - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - spotify-client
