---
# Details from https://www.spotify.com/us/download/linux/
# 
# key was downloaded from spotify, 
# first installed without id (not required), 
# listed keys with 'key-add list'
# added correct id from list (removed spaces)
#
- name: Spotify - Add Spotify's official GPG Key
  become: true
  apt_key:
    id: F9A211976ED662F00E59361E5E3C45D7B312C643
    file: "{{ role_path }}/defaults/spotify.gpg"
    state: present

- name: Spotify - Setup Spotify stable repository
  become: true
  apt_repository:
    filename: "{{ spotify_apt_file }}"
    repo: >-
      deb http://repository.spotify.com stable non-free

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Spotify - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - spotify-client
