---

# Key downloaded like this, 
# curl -fsSL https://packagecloud.io/slacktechnologies/slack/gpgkey | gpg --dearmor > roles/slack/defaults/slack.gpg
- name: Slack - Add slack's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/slack.gpg"
    dest: /etc/apt/keyrings/slack.gpg
    mode: '0644'
    owner: root
    group: root

- name: Slack - Setup Slack stable repository
  become: true
  deb822_repository:
    name: slack
    types: deb
    uris: https://packagecloud.io/slacktechnologies/slack/debian
    suites: jessie
    components: main
    architectures: amd64
    signed_by: /etc/apt/keyrings/slack.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Slack - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - slack-desktop
