---
# First export key using apt-key
# apt-key list
# apt-key export <key id> > keys/microsoft-prod.gpg
# Where id is the alpha-numerical id in the list output..
#
- name: Teams - Add Teams's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/microsoft-teams.gpg"
    dest: /etc/apt/keyrings/microsoft-teams.gpg
    mode: '0644'
    owner: root
    group: root

- name: Teams - Setup Teams stable repository
  become: true
  deb822_repository:
    name: teams
    types: deb
    uris: https://packages.microsoft.com/repos/ms-teams
    suites: stable
    components: main
    architectures: amd64
    signed_by: /etc/apt/keyrings/microsoft-teams.gpg

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Install Teams
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - teams

