---
- name: Update apt-get repo and cache
  become: yes
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Install gnome3 packages
  become: yes
  apt:
    pkg:
      - dconf-editor
      - gnome-tweaks 
      - python3-psutil
      - chrome-gnome-shell
      - gnome-shell-extension-manager
    state: latest
    
- name: Dock icon size
  dconf:
    key: "/org/gnome/shell/extensions/dash-to-dock/dash-max-icon-size"
    value: "28"
    state: present
    
- name: Gnome shell active plugins
  dconf:
    key: "/org/gnome/shell/enabled-extensions"
    value: "['gnome-shell-audio-output-switcher@kgaut', 'bluetooth-quick-connect@bjarosze.gmail.com', 'caffeine@patapon.info', 'sound-output-device-chooser@kgshank.net', 'Vitals@CoreCoding.com']"
    state: present    

    
- name: Terminal bind ctrl-v to paste
  dconf:
    key: "/org/gnome/Terminal/Legacy/Keybindings/paste"
    value: "'<Primary>v'"
    state: present

- name: Terminal bind ctrl-c to copy
  dconf:
    key: "/org/gnome/Terminal/Legacy/Keybindings/copy"
    value: "'<Primary>c'"
    state: present

- name: Text editor active plugins
  dconf:
    key: "/org/gnome/gedit/plugins/active-plugins"
    value: "['time', 'filebrowser', 'drawspaces', 'docinfo', 'spell', 'modelines', 'quickhighlight', 'smartspaces']"
    state: present

- name: Text editor settings
  dconf: 
    key: "{{ '/org/gnome/gedit/preferences/editor/' + item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: 
     - { key: "insert-spaces", value: "true" }
     - { key: "scheme", value: "'tango'" }
     - { key: "tabs-size=uint32", value: "4" }
     - { key: "wrap-last-split-mode", value: "'word'" }

- name: Dock calendar add week number
  dconf:
    key: "/org/gnome/desktop/calendar/show-weekdate"
    value: "true"
    state: present

- name: Dock calendar add weekday
  dconf:
    key: "/org/gnome/desktop/interface/clock-show-weekday"
    value: "true"
    state: present

- name: Nautilus settings
  dconf: 
    key: "{{ '/org/gnome/nautilus/preferences/' + item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: 
     - { key: "click-policy", value: "'single'" }
     - { key: "default-folder-viewer", value: "'list-view'" }
     - { key: "show-delete-permanently", value: "true" }

- name: System proxy
  dconf: 
    key: "{{ '/system/proxy/' + item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: 
     - { key: "autoconfig-url", value: "'{{ system_autoproxy_url }}'" }
     - { key: "mode", value: "'auto'" }

- name: Window manager settings
  dconf: 
    key: "{{ '/org/gnome/mutter/' + item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: 
     - { key: "attach-modal-dialogs", value: "false" }

- name: Numlock
  dconf:
    key: "/org/gnome/desktop/peripherals/keyboard/numlock-state"
    value: "true"
    state: present
    
- name: CapsLock
  dconf:
    key: "/org/gnome/desktop/input-sources/xkb-options"
    value: "['caps:none']"
    state: present    

- name: Just Perfection settings
  dconf: 
    key: "{{ '/org/gnome/shell/extensions/just-perfection/' + item.key }}"
    value: "{{ item.value }}"
    state: present
  loop: 
     - { key: "clock-menu-position", value: "2" }
     - { key: "clock-menu-position-offset", value: "2" }
     - { key: "panel-in-overview", value: "true" }


# Reassign <Control><Shift>u since it conflict with idea
# see https://superuser.com/a/1745264/1156436
- name: Unicode completion
  dconf:
    key: "/org/freedesktop/ibus/panel/emoji/unicode-hotkey"
    value: "['<Control><Super><Shift>u']"
    state: present
