---
- name: Update apt-get repo and cache
  become: yes
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Install default packages
  become: yes
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - dconf-editor
    - gnome-tweaks 
    - python3-psutil
    
- name: Dock icon size
  dconf:
    key: "/org/gnome/shell/extensions/dash-to-dock/dash-max-icon-size"
    value: "28"
    state: present
