---
# First export key using apt-key
# apt-key list
# apt-key export <key id> > keys/skype.gpg
# Where id is the alpha-numerical id in the list output..
#
- name: Skype - Add Skype's official GPG Key
  become: true
  apt_key:
    id: D4040146BE3972509FD57FC71F3045A5DF7587C3
    file: "{{ role_path }}/defaults/skype.gpg"
    state: present

- name: Skype - Setup Skype stable repository
  become: true
  apt_repository:
    filename: "{{ skype_apt_file }}"
    repo: >-
      deb [arch=amd64] https://repo.skype.com/deb stable main

- name: Update apt cache
  become: true
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600

- name: Skype - Install
  become: true
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - skypeforlinux
