---

# Key downloaded like this, 
# curl -s https://repo.skype.com/data/SKYPE-GPG-KEY | gpg --dearmor | sudo tee roles/skype/defaults/skype.gpg
- name: Skype - Add Skype's official GPG Key
  become: true
  copy: 
    src: "{{ role_path }}/defaults/skype.gpg"
    dest: /etc/apt/keyrings/skype.gpg
    mode: '0644'
    owner: root
    group: root
