---
- name: install apt package dependencies
  become: true
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common
    state: latest

# Key was downloaded like this, 
# curl -sS https://download.docker.com/linux/ubuntu/gpg > roles/docker/defaults/docker.gpg

- name: Add Docker official GPG Key
  become: true
  apt_key:
    file: "{{ role_path }}/defaults/docker.gpg"
    state: present

- name: Setup Stable Repository 18.04
  become: true
  apt_repository:
    filename: "{{ docker_apt_file }}"
    repo: >-
      deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ubuntu_target_version_name }} stable
  when: ubuntu_target_version == "18.04"

- name: install Docker 18.04
  become: true
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest
    update_cache: "yes"
  when: ubuntu_target_version == "18.04"

- name: install Docker 20.04
  become: true
  apt:
    name: docker.io
    state: latest
    update_cache: "yes"
  when: ubuntu_target_version == 20.04

- name: install Docker Compose 20.04
  become: true
  apt:
    name: docker-compose
    state: latest
    update_cache: "yes"
  when: ubuntu_target_version == 20.04

- name: Create the docker group
  become: true
  group:
    name: docker
    state: present

- name: Add your user to the group
  become: true
  user:
    name: "{{ ansible_user }}"
    groups: ["docker"]
    append: "yes"

- name: Start Docker on boot
  become: true
  service:
    name: "docker"
    enabled: "yes"

